<mat-toolbar color="primary">
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Mon IST</span>
  <span class="spacer"></span>
  <button mat-button routerLink="game" routerLinkActive="exact">Jeu</button>
  <button mat-button routerLink="ists" routerLinkActive="exact">ISTS</button>
  <button mat-button routerLink="temoignages" routerLinkActive="exact">
    Temoignages
  </button>
  <button mat-button routerLink="faq" routerLinkActive="exact">FAQ</button>
</mat-toolbar>
