<mat-list>
  <h3 mat-subheader>Messages</h3>
  <mat-list-item
    routerLink="/message/{{ chat.getId() }}"
    *ngFor="let chat of chats"
  >
    <h4 mat-line>
      {{ getLastMessageContact(chat)!.getName() }}
    </h4>
    <p mat-line class="last-message">
      {{ getLastMessage(chat) }}
    </p>
    <mat-divider [inset]="false"></mat-divider>
  </mat-list-item>
</mat-list>
