<div class="temoignages-container">
  <h1>Les temoignages</h1>
  <button mat-raised-button 
    [routerLink]="['/temoignage']"
  >Ajouter un témoignage</button>
  <mat-card *ngFor="let tem of temoignages">
    <mat-card-content>
      <h3>{{ tem.text }}</h3>
      <p>{{ tem.person }}</p>
      <p>{{ tem.date }}</p>
    </mat-card-content>
  </mat-card>
</div>
