<div
  class="ists-container"
  [ngClass]="
    currentScreenSize === 'XSmall' ||
    currentScreenSize === 'Small' ||
    currentScreenSize === 'Medium'
      ? 'ists-container__mobile'
      : ''
  "
>
  <a
    class="removeStyle"
    *ngFor="let ist of ists"
    [routerLink]="['/ist', ist.name]"
  >
    <mat-card class="card">
      <h2>{{ ist.titre }}</h2>
      <p [innerHTML]="ist.short"></p>
    </mat-card>
  </a>
</div>
