.ists-container {
  padding-top: 4rem;
  display: flex;
  &__mobile {
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 16px;
  }
  .removeStyle {
    text-decoration: none;
  }
}
