.container_header {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
}
.header_text {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 22px;
}
.header_text_bottom {
  margin-left: 110px;
}
.image_profile {
  width: 50px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid red;
}

header {
  padding-top: var(--toolbarHeight);
}
