
<header>
    <div class="container_header">
        <img class="image_profile" src="../../../../assets/vincentPorter.PNG" alt="photo profil" />
        <p class="header_text">{{header}}{{contactName}}</p>
    </div>
    <div>
        <p class="header_text_bottom">Already {{numberMessagesWritten}} messages</p>
    </div>
</header>
<section>
    <app-show-message [chat]="chat"></app-show-message>

    <app-choice [chat]="chat" [choices]="choices" (choice)="this.newChoice($event)"></app-choice>
</section>