<div class="flex">

    <span *ngFor="let choice of choices">
        <button (click)="handleChoiceClick(choice)" class="button_chat">
            {{ choice.getText() }}
        </button>
    </span>

</div>
