.container_messages{
    display: flex;
    flex-direction: column;
}
.my_message{
    align-self: flex-end;
    background-color: aqua;
}
.container_message{
    width: 250px;
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 15px;
}
.their_message{
    background-color: green;
}