<div class="container_messages" >
    <div *ngFor="let message of messages" let i = index class="container_message" [class.my_message]="message.getContactId() === 0"  [class.their_message]="message.getContactId() !== 0">
            <p class="messageOdd">
                {{message.getText()}}
            </p>
        </div>
</div>