.temoignages-container {
    padding: 4rem 0;
  }
  
  mat-card,
  h1 {
    margin: 20px;
  }
  
  .text_component {
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }
  .btn {
    display: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
  }


