<div class="temoignages-container">
    <mat-form-field appearance="fill" class="text_component">
        <mat-label>Témoignage</mat-label>
        <textarea (ngModelChange)="onChange($event)" matInput [(ngModel)]="temoignage"></textarea>    
    </mat-form-field>
    <button id="btn" class="btn" (mouseenter)="mouseenter()" mat-raised-button (click)="addTemoignage()">Ajouter</button>
</div>
