<div class="faq-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Question </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos nisi sit
        dolore ducimus! Fuga, facere cum mollitia praesentium similique harum
        accusantium ducimus dignissimos, vel architecto necessitatibus, vitae
        error eligendi hic.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Question </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos nisi sit
        dolore ducimus! Fuga, facere cum mollitia praesentium similique harum
        accusantium ducimus dignissimos, vel architecto necessitatibus, vitae
        error eligendi hic.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Question </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos nisi sit
        dolore ducimus! Fuga, facere cum mollitia praesentium similique harum
        accusantium ducimus dignissimos, vel architecto necessitatibus, vitae
        error eligendi hic.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
